Document-Title 忘记密码

.account
  SiteLayout(footer=false)
    .login
      if state.states
        .account-wrapper
          .account-wrapper-slogan 忘记密码
          SimpleForm(_ref=form states=state.states onSubmit=onSubmit layout="vertical")
          #noCaptchaCode.slide-verify-code
          if state.errorMessage
            .account--error= state.errorMessage
          Button(type="primary" size="large" onClick=form.submit loading=form.isLoading() disabled=form.isLoading()) 下一步
