SiteLayout(footer=false)
  .account.login
    if state.states
      .account-wrapper
        .account-wrapper-slogan 欢迎登录 CloudEMPower
        SimpleForm(_ref=form states=state.states onSubmit=onSubmit layout="vertical")
        #noCaptchaCode.slide-verify-code
        if state.errorMessage
          .account--error= state.errorMessage
        Button(type="primary" size="large" onClick=form.submit loading=form.isLoading() disabled=form.isLoading()) 登录
        //- .margin-top_20
          a(href="/forget-password") 忘记密码
