Document-Title 忘记密码

.account
  SiteLayout(footer=false)
    .login
      if state.states
        .account-wrapper
          .account-wrapper-slogan 忘记密码
          SimpleForm(_ref=form states=state.states onSubmit=onSubmit layout="vertical")
          if state.errorMessage
            .account--error= state.errorMessage
          Button(type="primary" size="large" onClick=form.submit loading=form.isLoading() disabled=form.isLoading()) 修改密码

Template(ref=this.verifyCodeTpl)
  FragmentWrap
    FragmentWrap:render(as=(_props, _itemProps))
      Input(..._props maxLength=_itemProps.field.addition.maxLength onBlur=_itemProps.validate)
        Input:suffix
          if !this.state.sendTime
            div(onClick=sendVerifyCode) 获取验证码
          else
            .ant-input-suffix-disabled 已发送(#{ this.state.sendTime })
